<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.js" ></script>
<div class="account">
  <div class="makeCenter">
    <div class="md-whiteframe-z3">
<!-- <h1 ng-model='$ctrl.blah' ></h1> -->
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Forgot Password
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form class="form" name="form" ng-submit="vm.forgotPassword(form)" novalidate>

          <md-input-container>
            <label>Enter Email Id</label>

            <input type="email" name="email" ng-model="vm.reset.email"/>
          </md-input-container>


          <md-button class="md-raised md-primary" type="submit">Request reset</md-button>
          <span style="color:red"> {{ vm.message }} </span>
          
        </form>
      </md-content>

    </div>
  </div>
</div>
<h1>efrs</h1>
 <h2>
 <!-- {{.blah}} -->
dfs </h2>
 {{vm.blah}}