.cont{
	text-align: center;
	background-color: #333333;
	width: 100%;
	align-content: center;
	display: inline-block;
  	bottom: 0vh;
  	position: fixed;
  	padding-top: 1vh;
}

.fa{
	display: inline;
	padding: 5px 5px 10px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
    color: white;
	opacity: 1.0;
}

.fa:hover{
	opacity: 0.9;
}