<div class="cont">
        <a href="https://www.facebook.com/Shaastra" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a><br>
        <a href="https://twitter.com/ShaastraIITM" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a><br>
        <a href="https://www.instagram.com/shaastra_iitm/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><br>
        <a href="https://www.youtube.com/user/iitmshaastra" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a><br>
 </div>
