footer.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #E5E5E5;
  position: fixed;
  bottom: 0;
}

img{
	height: 72px;
	width: 72px;
	padding-left: 0px;
	padding-right: 0px; 
}

.cont{
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 5px 5px 10px #D3D3D3;
}

.fa{
    padding: 5px 10px;
    color: #26297F;
}