/*.cont{
	text-align: center;
	background-color: #333333;
	width: 100%;
	align-content: center;
	display: inline-block;
  	bottom: 0vh;
  	position: fixed;
  	padding-top: 1vh;
}

.fa{
	padding: 5px 5px 10px 0px;
    color: white;
	opacity: 1.0;
	margin:10px;
}

.fa:hover{
	opacity: 0.9;
	font-size:2.5em;

	border-radius: 2px;
}*/
