<div class="container" style="padding-top: 100px; width: 100%;">
<div class="page-header" >
  <h1>All Users who have submitted the form </h1>
</div>
<button class="btn btn-default" ng-click="listCtrl.export();"> Export as .csv file </button>
<br><br>
<table class="table table-hover">
<thead class="thead-inverse">
<tr>
  <th> Name</th>
  <th> Email</th>
  <th> Phone Number</th>
  <th> Facebook profile link </th>
  <th align="center"> Education Details</th>
  <th align="center"> College Details</th>
  <th>Previous Experience</th>
  <th>Why right candidate?</th>
  <th>Why CA</th>
  <th>Selection</th>
</tr>

</thead>
<tbody>
  <tr ng-repeat="user in listCtrl.users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phonenumber }}</td>
    <td><a href="{{user.fblink}}">{{ user.fblink }}</a></td>
    <td>{{ user.education.year }}<br/>{{ user.education.branch }}<br/>{{ user.education.degree }}</td>
    <td>{{ user.college.name }}<br/>
    <td>{{ user.questions.past }}</td>
    <td>{{ user.questions.right }}</td>
    <td>{{ user.questions.why }}</td>
    <td>
      <div ng-show="user.selected==0 && !listCtrl.grapevine">
        <div class="btn btn-success" ng-click="listCtrl.selected(user._id)">Selected</div>
        <div class="btn btn-danger"  ng-click="listCtrl.rejected(user._id)">Rejected</div>
      </div>
      <div ng-show="user.selected==0 && listCtrl.grapevine">
        <p style="color: blue;">Pending</p>
      </div>
      <div ng-show="user.selected!=0">
        <p ng-show='user.selected==1' style="color: green;">Selected</p>
        <p ng-show='user.selected==2' style="color: red;">Rejected</p>
      </div>
    </td>
  </tr>
</tbody>
</table>
</div
