<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.navbar{
  font-family: 'Montserrat', sans-serif;
  background: #fbc02d;
	background: -webkit-linear-gradient(-45deg, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #FFD200, #F7971E);
  box-shadow: 0 2px 8px 1px gainsboro;
}

.navbar-default .navbar-nav li a{
  color: #000000;
}

.navbar-default .navbar-nav li{
  /* background-color: #fbc02d; */
}

.navbar-default .navbar-nav{
  margin: 0px;
  
}

.glyphicon-home{
  display: block;
}

.tif-title{
  display: none;
}

@media screen and (max-width: 719px){
  .glyphicon-home{
    display: none;
  }

  .tif-title{
    display: block;
  }
}
</style>


<div class="navbar navbar-default navbar-fixed-top" style="width: 100vw; height: 5vh; padding-right: 3vw;">
  <div>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#home" class="navbar-brand" style="color: black;">
        <span class="glyphicon glyphicon-home"></span>
        <div class="tif-title">TIF Portal</div>
      </a>
      
      <!-- <a href="/#home" class="navbar-brand" style="color: white;"><span class="glyphicon glyphicon-home"></span></a> -->
    </div>
    
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#one">About</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#two">Why TIF?</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#three">Shortlisting </a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#four">Incentives</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#five">Rules</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"><a href="/#six">Contact Us</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-show="$ctrl.isAdmin()"><a href="/list">Registered Users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-show="$ctrl.isLoggedIn()&&!$ctrl.isAdmin()"><a href="/submit">Form</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-hide="$ctrl.isLoggedIn()"><a href="/signup">Sign up</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-hide="$ctrl.isLoggedIn()"><a href="/login">Login</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-show="$ctrl.isLoggedIn()"><a href="/settings">Change Password</a></li>
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ng-show="$ctrl.isLoggedIn()"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
