<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <!-- <div class="logo">
      <a href="#home"><i class="fas fa-chess-knight"></i> Logo</a>
    </div> -->

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="/#home" style="color:orange;font-weight:900;font-size:1.2em;">Home</a></li><!--
   --><li><a href="/#aboutus" style="color:orange;font-weight:900;font-size:1.2em;">About</a></li><!--
   --><li><a href="/#rules" style="color:orange;font-weight:900;font-size:1.2em;">Rules</a></li><!--
   --><li><a href="/#contactus" style="color:orange;font-weight:900;font-size:1.2em;">Contact</a></li>
      <li ng-hide="$ctrl.isLoggedIn()"><a href="/signup" style="color:orange;font-weight:900;font-size:1.2em;">Sign Up</a></li>
      <li ng-hide="$ctrl.isLoggedIn()"><a href="/login" style="color:orange;font-weight:900;font-size:1.2em;">Login</a></li>
      <li ng-show="$ctrl.isLoggedIn()&& (!$ctrl.isAdmin())"><a href="/submit" style="color:orange;font-weight:900;font-size:1.2em;">Form</a></li>
      <li ng-show="$ctrl.isLoggedIn()"><a href="/settings" style="color:orange;font-weight:900;font-size:1.2em;">Change Password</a></li>
      <li ng-show="$ctrl.isLoggedIn()"><a href="/logout" style="color:orange;font-weight:900;font-size:1.2em;">Logout</a></li>


    </ul>
  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu" style="z-index:9999999;" ng-show"false">
  <ul id="menu">
    <li><a class="l1" href="/#home" style="color:orange;font-weight:900;font-size:1.2em;">Home</a></li><!--
 --><li><a class="l2" href="/#aboutus" style="color:orange;font-weight:900;font-size:1.2em;">About</a></li><!--
 --><li><a class="l3" href="/#rules" style="color:orange;font-weight:900;font-size:1.2em;">Rules</a></li><!--
 --><li><a class="l4" href="/#contactus" style="color:orange;font-weight:900;font-size:1.2em;">Contact</a></li>
    <li ng-hide="$ctrl.isLoggedIn()"><a class="l5" href="/signup" style="color:orange;font-weight:900;font-size:1.2em;">Sign Up</a></li>
    <li ng-hide="$ctrl.isLoggedIn()"><a class="l6" href="/login" style="color:orange;font-weight:900;font-size:1.2em;">Login</a></li>
    <li ng-show="$ctrl.isLoggedIn()&& (!$ctrl.isAdmin())"><a class="l7" href="/submit" style="color:orange;font-weight:900;font-size:1.2em;">Form</a></li>
    <li ng-show="$ctrl.isLoggedIn()"><a class="l8" href="/settings" style="color:orange;font-weight:900;font-size:1.2em;">Change Password</a></li>
    <li ng-show="$ctrl.isLoggedIn()"><a class="l9" href="/logout" style="color:orange;font-weight:900;font-size:1.2em;">Logout</a></li>
    </ul>
</div>



<style media="screen">
a {
color: inherit;
font-family: Montserrat;
font-size: inherit;
text-decoration: none;
}


/*======================================================
                        Navbar
======================================================*/
#navbar {
/* background: white; */
color: rgba(13, 26, 38,1);
position: fixed;
top: 0;
height: 60px;
line-height: 60px;
width: 100vw;
z-index: 10;
}

.nav-wrapper {
margin: auto;
text-align: center;
width: 70%;
} @media(max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
} @media(max-width: 638px) {
    .nav-wrapper {
      width: 100%;
    }
  }


.logo {
float: left;
margin-left: 28px;
font-size: 1.5em;
height: 60px;
letter-spacing: 1px;
text-transform: uppercase;
} @media(max-width: 768px) {
  .logo {
/*       margin-left: 5px; */
  }
}

#navbar ul {
z-index: 999999999;
display: inline-block;
float: center;
list-style: none;
/* margin-right: 14px; */
margin-top: 5vh;
text-align: right;
transition: transform 0.5s ease-out;
-webkit-transition: transform 0.5s ease-out;
} @media(max-width: 1024px) {
  #navbar ul {
    display: none;
  }
  #navbar li {
  display: none;
  }
} @media(orientation: landscape) {
    #navbar ul {
      display: inline-flex;
    }
  }


#navbar li a {
color: rgb(13, 26, 38);
display: block;
font-size: 0.7em;
height: 50px;
letter-spacing: 1px;
margin: 0 20px;
padding: 0 4px;
position: relative;
text-decoration: none;
text-transform: uppercase;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
/* border-bottom: 1px solid rgb(28, 121, 184); */
color: rgb(28, 121, 184);
transition: all 1s ease;
-webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
content: '';
position: absolute;
width: 0%;
height: 1px;
bottom: -1px;
background: rgb(13, 26, 38);
}

#navbar li a:before {
left: 0;
transition: 0.5s;
}

#navbar li a:after {
background: rgb(13, 26, 38);
right: 0;
/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
background: rgb(13, 26, 38);
width: 100%;
transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
background: transparent;
width: 100%;
/* transition: 0s; */
}



/*======================================================
                  Mobile Menu Menu Icon
======================================================*/
@media(max-width: 1024px) {
.menuIcon {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 15px;
  top: 20px;
  height: 23px;
  width: 27px;
  z-index: 12;
}

/* Icon Bars */
.icon-bars {
  background: rgb(13, 26, 38);
  position: absolute;
  left: 1px;
  top: 45%;
  height: 2px;
  width: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icon-bars::before {
  background: rgb(13, 26, 38);
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  height: 2px;
  width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
  transition: top 0.2s ease 0.3s; */
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

.icon-bars::after {
  margin-top: 0px;
  background: rgb(13, 26, 38);
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
  transition: top 0.2s ease 0.3s; */
  -webkit-transition: 0.3s width 0.4s;
  transition: 0.3s width 0.4s;
}

/* Bars Shadows */
.icon-bars.overlay {
  background: rgb(97, 114, 129);
  background: orange;
  width: 20px;
  animation: middleBar 3s infinite 0.5s;
  -webkit-animation: middleBar 3s infinite 0.5s;
} @keyframes middleBar {
    0% {width: 0px}
    50% {width: 20px}
    100% {width: 0px}
  } @-webkit-keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    }

.icon-bars.overlay::before {
  background: rgb(97, 114, 129);
  background: orange;
  width: 10px;
  animation: topBar 3s infinite 0.2s;
  -webkit-animation: topBar 3s infinite 0s;
} @keyframes topBar {
    0% {width: 0px}
    50% {width: 10px}
    100% {width: 0px}
  } @-webkit-keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    }

.icon-bars.overlay::after {
  background: rgb(97, 114, 129);
  background: orange;
  width: 15px;
  animation: bottomBar 3s infinite 1s;
  -webkit-animation: bottomBar 3s infinite 1s;
} @keyframes bottomBar {
    0% {width: 0px}
    50% {width: 15px}
    100% {width: 0px}
  } @-webkit-keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    }


/* Toggle Menu Icon */
.menuIcon.toggle .icon-bars {
  top: 5px;
  transform: translate3d(0, 5px, 0) rotate(135deg);
  transition-delay: 0.1s;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars::before {
  top: 0;
  transition-delay: 0.1s;
  opacity: 0;
}

.menuIcon.toggle .icon-bars::after {
  top: 10px;
  transform: translate3d(0, -10px, 0) rotate(-270deg);
  transition-delay: 0.1s;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars.overlay {
  width: 20px;
  opacity: 0;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
}


/*======================================================
                 Responsive Mobile Menu
======================================================*/
.overlay-menu {
background: black;
color: rgb(13, 26, 38);
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
right: 0;
padding-right: 15px;
transform: translateX(-100%);
width: 100vw;
height: 100vh;
-webkit-transition: transform 0.2s ease-out;
transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
display: block;
position: relative;
}

.overlay-menu li a {
display: block;
font-size: 1.8em;
letter-spacing: 4px;
/*   opacity: 0; */
padding: 10px 0;
text-align: right;
text-transform: uppercase;
-webkit-transition: color 0.3s ease;
transition: color 0.3s ease;
/*   -webkit-transition: 0.2s opacity 0.2s ease-out;
transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
color: rgb(28, 121, 184);
-webkit-transition: color 0.3s ease;
transition: color 0.3s ease;
}
</style>

<script type="text/javascript">
    if($(window).width() >= 1024){
      $(window).scroll(function(event){
         // var top = $(document).scrollTop();

        if($(document).scrollTop()>80)
        {
          $("#navbar ul").css({
             "margin-top": 0 + "vh"
          });
          $("#navbar").css({
             "background": "white"
          });
        }
        else{
          $("#navbar ul").css({
             "margin-top": 5 + "vh"
          });
          $("#navbar").css({
             "background": "transparent"
          });
        }
      });
    }
      let menuIcon = document.querySelector('.menuIcon');
      let nav = document.querySelector('.overlay-menu');

      menuIcon.addEventListener('click', () => {
          window.scrollTo(0,0);
          if (nav.style.transform != 'translateX(0%)') {
              nav.style.transform = 'translateX(0%)';
              nav.style.transition = 'transform 0.2s ease-out';
          } else {
              nav.style.transform = 'translateX(-100%)';
              nav.style.transition = 'transform 0.2s ease-out';
          }
      });


      // Toggle Menu Icon ========================================
      let toggleIcon = document.querySelector('.menuIcon');

      toggleIcon.addEventListener('click', () => {
          if (toggleIcon.className != 'menuIcon toggle') {
              toggleIcon.className += ' toggle';
          } else {
              toggleIcon.className = 'menuIcon';
          }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon1 = document.querySelector('.l1');

      toggleIcon1.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon2 = document.querySelector('.l2');

      toggleIcon2.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon3 = document.querySelector('.l3');

      toggleIcon3.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon4 = document.querySelector('.l4');

      toggleIcon4.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon5 = document.querySelector('.l5');

      toggleIcon5.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon6 = document.querySelector('.l6');

      toggleIcon6.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon7 = document.querySelector('.l7');

      toggleIcon7.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon8 = document.querySelector('.l8');

      toggleIcon8.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });

      // Toggle Menu Icon ========================================
      let toggleIcon9 = document.querySelector('.l9');

      toggleIcon9.addEventListener('click', () => {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
        let toggleIcon = document.querySelector('.menuIcon');
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
      });
</script>
