@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}

.main-section{
	min-height: 100vh;
	padding-top: 8vh;
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: 'Montserrat', sans-serif;
}

.main-presents{
	color: #000000;
	text-align: center;
	margin-top: -5vw;
	margin-bottom: -0.1vw;
	
}

.main-section h1{
	color: #000000;
	text-align: center;
	font-weight: 400;
	margin-top: 10vh;
}

.main-section h2{
	font-size: 36px;
}

.main-section p, .main-section li{
	font-size: 16px;
	font-weight: normal;
}

.shaastra-logo{
	width: 80vw;
	margin: auto;
	margin-top: -5vw;
}

.tif-logo{	
	width: 45vw;
	margin: auto;
	height: 35vw;
	margin-bottom: 1em;
}

.main-register{
	background: #fbc02d;
	background: -webkit-linear-gradient(120deg, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(120deg, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	border-radius: 5px;
	/* border: 0.5vh solid black; */
	box-shadow: 0 0 10px 3px gainsboro;
	padding: 2vh;
	width: 25vh;
	text-align: center;
	margin: auto;
	margin-top: 5vh;
	color: #000000;
	transition: all 0.5s ease-out;
}

.main-register:hover{
	transform: translateY(-5px);
	box-shadow: 0 5px 10px 3px gainsboro;
}

.main-register a{
	color: #000000;
	text-decoration: none;
}

.main-about-container{
	display: flex;
	flex-direction: row;
}

.main-last-container{
	display: flex;
	flex-direction: row;
}

.main-text{
	/* font-size: 15px; */
	min-width: 320px;
}

.main-about-text li{
	padding: 1vh;
}

.main-about-text{
	flex: 1;
	padding: 1vw;
	padding-left: 0;
}

.main-about-img{	
	flex: 1;
}

.main-about-container i{
	font-size: 50vh;
	align-content: center;
	padding: 10vh 10vw;
}

.main-partner-container{
	display: flex;
	flex-direction: column;
}

.main-partner{
	flex: 1;
}

.main-partner-text b{
	font-size: 18px;
}
.partner-container{
	display: flex;
	flex-direction: row;
	padding-top: 3vh;
}

.main-partner-img{
	width: 25vw;
	min-width: 320px;
}

.main-partner-text{
	flex: 3;
	min-width: 320px;
	padding: 2vw;
}

.fa{
	color: #fbc02d;
}

@media screen and (max-width: 719px){
	.main-about-img {
		display: none;
	}

	.main-last-container{
		display: block;
	}
}