@charset "UTF-8";
/* Body */
/*body {
    font-family: Montserrat, sans-serif;
    background-color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 300;
}*/
/* Container */
.container {
    width: 90%;
    margin: auto;
    background-color: #e6e6e6;
}

/* Navigation 
header {
    width: 100%;
    height: 7%;
    background-color: #333333;
    border-bottom: 1px solid #2C9AB7;
}*/
.logo {
    color: #fff;
    font-weight: 700;
    text-align: undefined;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}
nav {
    position: fixed;
    float: right;
    width: 90%;
    text-align: right;
    margin-right: 25px;
    background-color: #333333;
}
header nav ul {
    list-style: none;
    float: right;
}
nav ul li {
    float: left;
    color: #e6e6e6;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 0.3s linear;
}
ul li a {
    color: #e6e6e6;
    text-decoration: none;
}
ul li:hover a {
    color: #808080;
}
h2 {
    font-weight: 700;
    font-size: 24pt;
    padding-left: 40px;
}
.white{
    color: #e6e6e6;
}
.black{
    color: #333333;
}

.hero_header {
    color: #e6e6e6;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
}
/* Hero Section
.hero {
    background-color: #e6e6e6;
    padding-top: 150px;
    padding-bottom: 150px;
}
.light {
    font-weight: 700;
    color: #717070;
}*/
.tagline {
    text-align: center;
    color: #333333;
    margin-top: 4px;
    font-size: 2.5em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* About Section */
.text_column {
    width: 40%;
    text-align: justify;
    font-weight: 200;
    line-height: 25px;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    color: #e6e6e6; 
}
.text_column_2 {
    width: 90%;
    text-align: left;
    font-weight: 200;
    line-height: 25px;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    color: #e6e6e6; 
}
.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-block;
    background-color: #333333;
    margin-top: 0px;
    font-weight: 300;
}
a{
    text-decoration: none;
}
th{
    text-align: left;
}

.about a{
    color: #808080;
    font-weight: 400;
    text-decoration: none;
}
.about a:hover{
    color: #e6e6e6;
    text-decoration: underline;
}
/* Parallax Section */
.banner {
    background-image: url(../../assets/images/parallax-bkg.png);
    display: inline-block;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    
}
.bannerTitle {
    background-color: #E6E6E6;
    background-image: url(../../assets/images/parallax-bkg.png);
    height: 700px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax {
    color: #e6e6e6;
    text-align: center;
    padding-top: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
    
}
.titlemax {
    color: #333333;
    text-align: center;
    font-weight: 200;
    font-size: 5em;
    padding-top: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
}
.parallax_description {
    color: #333333;
    text-align: left;
    padding-left: 40px;
    width: 90%;
    float: left;
    font-weight: 300;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
ul{
    float: left;
    padding-left: 10%;
}

form{
    padding: 30px;
    width: 600px;
    margin: 0 auto;
    background-color: #333333;
    color: #e6e6e6;
    border: hidden;
    border-radius: 1em;
}

/* More info */

.button_white {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border: 3px solid #e6e6e6;
    color: #e6e6e6;
    transition: all 0.3s linear;
}
.button_white:hover {
    background-color: #E6E6E6;
    color: #333333;
    border: 3px solid #e6e6e6;
    cursor: pointer;
}
.button_black {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border: 3px solid #333333;
    color: #333333;
    transition: all 0.3s linear;
}
.button_black:hover {
    background-color: #6A6A6A;
    color: #E6E6E6;
    border: 3px solid #6A6A6A;
    cursor: pointer;
}
.footer_banner {
    background-color: #333333;
    padding-top: 60PX;
    padding-bottom: 60PX;
    margin-bottom: 0px;
}
.hidden {
    display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    display: none;
}
header nav ul {
}
nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}
.text_column {
    width: 100%;
    text-align: justify;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #e6e6e6;
    font-weight: 300;
}
.thumbnail {
    width: 100%;
}
.footer_column {
    width: 100%;
    margin-top: 0px;
}
.parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
}
.parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 90%;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    float: none;
    text-align: center;
}
.banner {
    background-color: #2D9AB7;
    background-image: none;
}
.tagline {
    margin-top: 10px;
    line-height: 22px;
}
.hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
}
.container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #333333;
}
header nav ul {
    padding: 0px;
    float: none;
}
nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.text_column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.thumbnail {
    width: 100%;
}
.footer_column {
    width: 100%;
    margin-top: 0px;
}
.parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
}
.parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
    width: 100%;
    text-align: center;
}
.thumbnail {
    width: 50%;
}
.parallax {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 20%;
}
.parallax_description {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    padding-top: 30px;
}
.banner {
    padding-left: 20px;
    padding-right: 20px;
}
.footer_column {
    width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
    width: 100%;
}
.thumbnail {
    width: 50%;
}
.text_column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.banner {
    margin-top: 0px;
    padding-top: 0px;
}
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    