<div class="container" style="padding-top: 100px; width: 100%; height: 1000px;">
  <form class="form" name="form" ng-submit="vm.reset()" novalidate>
    <legend style="color: grey;">Reset Password</legend>
    <div class="form-group">
      <label>New Password</label>
      <input class="form-control" type="password" name="newPassword" ng-model="vm.newPassword" ng-minlength="3" required/>
        <span style="color:red" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && 
        (form.newPassword.$dirty || vm.submitted)"> Password must be at least 3 characters
        </span>
        <span style="color:red" ng-show="form.password.$error.mongoose">{{ errors.other }}
        </span>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input class="form-control" type="password" name="confirmNewPassword" ng-model="vm.confirmNewPassword" required/>
        <span style="color:red" ng-show="(vm.newPassword !== vm.confirmNewPassword) && (form.confirmNewPassword.$dirty || vm.submitted)">
            Passwords do not match
        </span>
    </div>
      <span style="color:red"> {{ vm.message }} </span>

    <div class="text-center">
      <button class="btn btn-default btn-lg btn-login"  ng-click="vm.reset(form)" >
          Reset Password
      </button>
    </div>
  </form>

</div>
