<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.js" ></script>
<div class="account">
  <div class="makeCenter">
    <div class="md-whiteframe-z3">

      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Change Password
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form class="form" name="form" ng-submit="vm.reset()" novalidate>

          <md-input-container ng-class="{ 'has-success': form.newPassword.$valid && submitted,
                                                'has-error': form.newPassword.$invalid && submitted }">
            <label>New Password</label>

            <input type="password" name="newPassword" ng-model="vm.newPassword"
                     ng-minlength="3"
                     required/>
            <span style="color:red"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
              Password must be at least 3 characters
            </span>
            <span style="color:red" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
            </span>
          </md-input-container>

          <md-input-container ng-class="{ 'has-success': form.confirmNewPassword.$valid && submitted,
                                                'has-error': form.confirmNewPassword.$invalid && submitted }">
            <label>Confirm New Password</label>

            <input type="password" name="confirmNewPassword" ng-model="vm.confirmNewPassword"
                     required/>
            <span style="color:red"
                 ng-show="(vm.newPassword !== vm.confirmNewPassword) && vm.submitted">
                Passwords do not match
            </span>
          </md-input-container>

          <span style="color:red"> {{ vm.message }} </span>

          <md-button class="md-raised md-primary" ng-disabled="(vm.newPassword !== vm.confirmNewPassword) || (vm.newPassword === '') || (vm.confirmNewPassword === '')" type="submit">Save changes</md-button>
        </form>
      </md-content>

    </div>
  </div>
</div>

