<div ng-hide="fileshow" class="box">
  <a href = "/admintasks"><button class="btn btn-primary">Back to list</button></a>
  <h2> Users who have submitted for {{taskCtrl.taskname}}</h2>
<table class="table table-hover table-bordered">
<thead class="thead-inverse">
<tr>
<th> Name </th>
<th> Email </th>
<th> Uploaded File </th>
</tr>

</thead>
<tbody>
  <tr ng-repeat="user in taskCtrl.users">
    <td ng-class='{success : user.approved, danger: user.rejected}'>{{ user.name }}</td>
    <td ng-class='{success : user.approved, danger: user.rejected}'>{{ user.email }}</td>
    <td ng-class='{success : user.approved, danger: user.rejected}'>
      <button class="btn btn-link" ng-click="taskCtrl.file(user.files,user.name, user._id);">
        Click here to view uploaded file
      </button>
    </td>
  </tr>
</tbody>
</table>
</div>
<div ng-show="fileshow" class="box">
  <button class="btn btn-default" ng-click="taskCtrl.back();">
     <h1>Go Back</h1>
   </button>
   <button class="btn btn-success" ng-click="taskCtrl.approve()">
     Approve Submission
   </button>
   <button class="btn btn-danger" ng-click="taskCtrl.reject()">
       Reject Submission
   </button>
   <div class="alert alert-success" ng-show="taskCtrl.message"> {{taskCtrl.message}} </div>
 <h1>{{ name }}'s submission for {{ taskCtrl.taskname }}</h1>
 <iframe ng-src="{{ url }}" width = "70%" height="1000px" />
</div>
