<div ng-hide="taskCtrl.form" class="box">
  <div class="row show-hide-message" ng-show="taskCtrl.success">
  <div class="alert alert-success"> {{taskCtrl.success}} </div>
  </div>
  <div class="row show-hide-message" ng-show="taskCtrl.error">
  <div class="alert alert-danger"> {{taskCtrl.error}} </div>
  </div>
  <table ng-hide="taskCtrl.fileupload" class="table table-hover table-bordered">
  <thead class="thead-inverse">
  <tr>
    <th> Title</th>
    <th> Description</th>
    <th> Deadline</th>
    <th> Points</th>
    <th> Status </th>
    <th> Your Status </th>
  </tr>

  </thead>
  <tbody>
    <tr ng-repeat="task in taskCtrl.tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.deadline.day }}  {{ task.deadline.month}}, {{task.deadline.year}}</td>
      <td>{{ task.points }}</td>
      <td ng-hide="task.completed"> <button class="btn btn-default" ng-click="taskCtrl.upload(task._id);" ng-disabled="task.applyDisable">Document Upload </button></td>
      <td ng-show="task.completed"> The task has been completed! </td>
      <td> {{task.completed_user}} </td>
    </tr>
  </tbody>
  </table>
  <div ng-show = "taskCtrl.fileupload">
    <h2><u>Document Upload</u></h2>
    <br>
    <button class="btn btn-primary" ng-click="taskCtrl.upload(taskCtrl.id);">Go Back</button>
    <br><br>
    <form ng-submit="taskCtrl.apply(taskCtrl.id)">
      <label class="custom-file-upload">
       <input ng-click="taskCtrl.uploaded();" class="form-control" name="file" onchange="document.getElementById('file_name').value = this.value.split('\\').pop().split('/').pop()" type="file" id="file" style="display: none;"/>
           Click Here to upload proof
           <input type="text" name="file_name" id="file_name">
       </label>
      <button class="btn btn-primary"> Apply </button>
    </form>
  </div>
</div>
