.question{
	padding-left: 0px;
	padding-right: 0px;
}

.group{
	margin: 10px;
}

h3{
	padding-top: 25px;
}

input{
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 2px;
	border-style: solid;
	border: 1px solid #E8E8E8;
}

p{
	font-family: 'Open sans', sans-serif;
	margin: 15px 0px 2px 0px;
}
/*input.ng-invalid.ng-touched {
	border: 1px rgb(188, 18, 18) solid;
	box-shadow: 0 0 2px 1px rgba(188,18,18,0.8);
}*/
