<div class="container" ng-show="submitCtrl.a">
	<h2 align="center" class="group">
		<u>CAMPUS AMBASSADOR PROGRAM</u>
	<br><br>  Registration Form - Part A
</h2>
	<form class="form" name="form" novalidate>
		<div class="group">
			<h3>Contact Details</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Contact Number</p>
				<input type="tel" name="number" ng-model="submitCtrl.submit.phonenumber" class="col-xs-12 col-lg-12 col-sm-12" id="coll_add">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Whatsapp Number</p>
				<input type="tel" name="number" ng-model="submitCtrl.submit.wnumber" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
		<br>
		<div class="group">
			<h3>College Details</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">College Name</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.college.name" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">College Address</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.college.address" class="col-xs-12 col-lg-12 col-sm-12" id="coll_add">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">City</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.college.city" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">State</p >
				<input type="text" name="name" ng-model="submitCtrl.submit.college.state" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
		<br>
		<div class="group">
			<h3>Education Details</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Degree</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.education.degree"  class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Branch</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.education.branch" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Year</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.education.year" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
		<br><br>
		<div class="group">
			<h3>Postal Address (will be used to send certificate and/or kit)</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Address</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.postal.address" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">City</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.postal.city" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">State</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.postal.state" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Pin Code</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.postal.pin" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
		<div align="center"><button ng-click="submitCtrl.next();" class="btn btn-default">Next Page</button>
		</div>
	</form>
</div>
<div class="container" ng-hide="submitCtrl.a">
  <h2 align="center" class="group">
		<u>CAMPUS AMBASSADOR PROGRAM</u>
	<br><br>  Registration Form - Part B
</h2>
<div align="left"><button ng-click="submitCtrl.back();" class="btn btn-default">Previous Page</button>
</div>
	<form class="form" name="form" novalidate>
    <div class="group">
      <h3>Previous experience</h3>
      <div>
        <p class="col-xs-12 col-sm-12 col-lg-12 question">Were you a Shaastra CA previously?</p>
        <div class="col-xs-12 col-lg-12 col-sm-12">
          <input type="radio" name="ca" value="yes" ng-model="submitCtrl.previous">Yes
          <input type="radio" name="ca" value="no"  ng-model="submitCtrl.previous">No
        </div>
        <br>
        <p class="col-xs-12 col-sm-12 col-lg-12 question">If yes, which year?</p>
        <input type="text" name="name" ng-model="submitCtrl.submit.prevyear" class="col-xs-12 col-lg-12 col-sm-12">
      </div>
    </div>
		<div class="group">
			<h3>Social Info</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Which social media sites do you use?</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.social" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
		<br>
		<div class="group">
			<h3>Questions</h3>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Why do you wish to become a Campus Ambassador?</p>
				<input type="text" name="name" ng-model="submitCtrl.submit.questions.why" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Why do you think you are the right candidate for this position? </p>
				<input type="text" name="name" ng-model="submitCtrl.submit.questions.right" class="col-xs-12 col-lg-12 col-sm-12" id="coll_add">
			</div>
			<div>
				<p class="col-xs-12 col-sm-12 col-lg-12 question">Do you have any past experience in handling Positions of Responsibility? </p>
				<input type="text" name="name" ng-model="submitCtrl.submit.questions.past" class="col-xs-12 col-lg-12 col-sm-12">
			</div>
		</div>
    <br><br><br>
  </form>
  <br><br>
  <div class="group">
    <input type="checkbox" ng-model="submitCtrl.iagree">
  <h5> I wish to represent Shaastra 2018 for my institute and I have read and agree to all the Terms and Conditions stated by Shaastra for the Campus Ambassador Program on the CA website.
  </h5>
  </div>
		<div align="center"><button ng-click="submitCtrl.submitform(submit);" ng-disabled="!submitCtrl.iagree" class="btn btn-default">Submit</button>
		</div>
		<br>
		<div class="row show-hide-message" ng-show="submitCtrl.success">
		<div class="alert alert-success"> {{submitCtrl.success}} </div>
		</div>
</div>
