<div style="width: 50vw; min-width: 300px; margin: auto; padding-top: 7vh;">
	<div class="container" ng-show="submitCtrl.showpage(2)" style="width: 100%;">
			<h2 align="center" class="group">
			Registration Form - Team Details
		</h2>
		<form  class="form" name="formp2" novalidate>

				<div class="form-group input-group" ng-class="{'has-error':!formp2.team_name.$valid && !formp2.team_name.$untouched,'has-success':formp2.team_name.$valid}" >
				<label class="control-label">Team Name *</label>
				<input type="text" name="team_name" size="100%" class="form-control" ng-required="true" placeholder="Team Name" ng-model="submitCtrl.submit.teamname" />
				<p class="help-block" ng-show="formp2.team_name.$error.required && formp2.team_name.$touched">This field is required</p>
			</div>

		    <label>Team Members </label><br/>
    			<div class="form-group input-group" >
    				<label class="control-label">Member 1</label><br/>
    				<input type="text" name="mem1_name" size="100%" class="form-control  col-xs-12 col-lg-6 col-sm-8" placeholder="Name" ng-model="submitCtrl.submit.name" disabled="true"/>
    			</div>

			<div class="form-group input-group" >
    				<input type="text" name="mem1_email" size="100%" class="form-control  col-xs-12 col-lg-6 col-sm-8" placeholder="Please go back to previous step and fill the Email-ID there" ng-model="submitCtrl.submit.email" disabled="true"/>
			</div>

			<div class="input-group">
				<input type="text" name="mem1_phno" ng-model="submitCtrl.submit.phonenumber" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" disabled="true" />
			</div>
  			<br>

			<div class="form-group input-group " ng-class="{'has-error':!formp2.mem2_email.$valid && !formp2.mem2_name.$error.required && (!formp2.mem2_email.$pristine || formp2.mem2_email.$touched  ) && (!formp2.mem2_phno.$valid && !formp2.mem2_phno.touched),'has-success':formp2.mem2_email.$valid && formp2.mem2_email.$dirty }" >

				<label class="control-label">Member 2</label>
				<input type="text" name="mem2_name" size="100%" ng-required="true" class="form-control  col-xs-12 col-lg-6 col-sm-8" placeholder="Name " ng-model="submitCtrl.submit.teammates.mem2_name" />
			</div>

			<div class="form-group input-group has-feedback" ng-class="{'has-error': (!formp2.mem2_name.$error.required  && formp2.mem2_email.$untouched)  || (!formp2.mem2_email.$valid),'has-success':formp2.mem2_email.$valid && !formp2.mem2_email.$error.required && !formp2.mem2_name.$error.required}" >
				<input type="email" name="mem2_email" size="100%" ng-required="true" class="form-control  col-xs-12 col-lg-6 col-sm-8" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" placeholder="Enter the Email-id " ng-model="submitCtrl.submit.teammates.mem2_email" />
				<p class="help-block" ng-show=" formp2.mem2_email.$error.required && !formp2.mem2_name.$error.required">The Email of the member is required</p>
		    <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem2_email.$valid && formp2.mem2_email.$dirty, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem2_email.$valid && !formp2.mem2_name.$error.required && (!formp2.mem2_email.$pristine || formp2.mem2_email.$touched)}">
				</div>

				<p class="help-block" ng-show="formp2.mem2_email.$invalid && !formp2.mem2_email.$error.required">Please Enter a valid Email ID</p>
			</div>

  			<div class="input-group" ng-class="{'has-error':!formp2.mem2_phno.$valid && (formp2.mem2_phno.$dirty || formp2.mem2_phno.$touched),'has-success':formp2.mem2_phno.$valid}">
  				<input type="text" name="mem2_phno" ng-model="submitCtrl.submit.teammates.mem2_phno" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" placeholder="Enter phonenumber" />
  				<p class="help-block" ng-show="formp2.mem2_phno.$error.required && formp2.mem2_phno.$touched">This field is required</p>
			    <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem2_phno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem2_phno.$valid && (!formp2.mem2_phno.$pristine || formp2.mem2_phno.$touched)}"></div>
  				<p class="help-block" ng-show="formp2.mem2_phno.$invalid && formp2.mem2_phno.$dirty">The Contact No. must be 10 digits long</p>
			</div>

			<br>

			<div class="form-group input-group " ng-class="{'has-error':!formp2.mem3_email.$valid && !formp2.mem3_name.$error.required && (!formp2.mem3_email.$pristine || formp2.mem3_email.$touched),'has-success':formp2.mem3_email.$valid && formp2.mem3_email.$dirty}" >
  			<label class="control-label">Member 3</label>
  			<input type="text" name="mem3_name" size="100%" ng-required="true" class="form-control" placeholder="Name " ng-model="submitCtrl.submit.teammates.mem3_name" />
		  </div>
			
			<div class="form-group input-group has-feedback" ng-class="{'has-error': (!formp2.mem3_name.$error.required  && formp2.mem3_email.$untouched)  || (!formp2.mem3_email.$valid),'has-success':formp2.mem3_email.$valid && !formp2.mem3_email.$error.required && !formp2.mem3_name.$error.required}" >
  			<input type="email" name="mem3_email" ng-required="true" class="form-control" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" placeholder="Enter the Email-id" size="100%" ng-model="submitCtrl.submit.teammates.mem3_email" />
  			<p class="help-block" ng-show=" formp2.mem3_email.$error.required && !formp2.mem3_name.$error.required">The Email of the member is required</p>
  			<div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem3_email.$valid && formp2.mem3_email.$dirty, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem3_email.$valid && !formp2.mem3_name.$error.required && (!formp2.mem3_email.$pristine || formp2.mem3_email.$touched)}"></div>
        <p class="help-block" ng-show="formp2.mem3_email.$invalid && !formp2.mem3_email.$error.required">Please Enter a valid Email ID</p>
			</div>

      <div class="input-group" ng-class="{'has-error':!formp2.mem3_phno.$valid && (formp2.mem3_phno.$dirty || formp2.mem3_phno.$touched),'has-success':formp2.mem3_phno.$valid}">
        <input type="text" name="mem3_phno" ng-model="submitCtrl.submit.teammates.mem3_phno" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" placeholder="Enter PhoneNumber of teammate "/>
        <p class="help-block" ng-show="formp2.mem3_phno.$error.required && formp2.mem3_phno.$touched">This field is require</p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem3_phno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem3_phno.$valid && (!formp2.mem3_phno.$pristine || formp2.mem3_phno.$touched)}">
        </div>
        <p class="help-block" ng-show="formp2.mem3_phno.$invalid && formp2.mem3_phno.$dirty">
        The Contact No. must be 10 digits long
        </p>
      </div>
      
      <br>
      
      <div class="form-group input-group " ng-class="{'has-error':!formp2.mem4_email.$valid && !formp2.mem4_name.$error.required && (!formp2.mem4_email.$pristine || formp2.mem4_email.$touched),'has-success':formp2.mem4_email.$valid && formp2.mem4_email.$dirty}" >

        <label class="control-label">Member 4</label>
        <input type="text" name="mem4_name" size="100%" ng-required="true" class="form-control" placeholder="Name " ng-model="submitCtrl.submit.teammates.mem4_name" />
      </div>
    
      <div class="form-group input-group has-feedback" ng-class="{'has-error': (!formp2.mem4_name.$error.required  && formp2.mem4_email.$untouched)  || (!formp2.mem4_email.$valid),'has-success':formp2.mem4_email.$valid && !formp2.mem4_email.$error.required && !formp2.mem4_name.$error.required}" >
        <input type="email" name="mem4_email" size="100%" ng-required="true" class="form-control" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" placeholder="Enter the Email-id" ng-model="submitCtrl.submit.teammates.mem4_email" />
        <p class="help-block" ng-show=" formp2.mem4_email.$error.required && !formp2.mem4_name.$error.required">
          The Email of the member is required
        </p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem4_email.$valid && formp2.mem4_email.$dirty, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem4_email.$valid && !formp2.mem4_name.$error.required && (!formp2.mem4_email.$pristine || formp2.mem4_email.$touched)}">
        </div>

        <p class="help-block" ng-show="formp2.mem4_email.$invalid && !formp2.mem4_email.$error.required">
            Please Enter a valid Email ID
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!formp2.mem4_phno.$valid && (formp2.mem4_phno.$dirty || formp2.mem4_phno.$touched),'has-success':formp2.mem4_phno.$valid}">
        <input type="text" name="mem4_phno" ng-model="submitCtrl.submit.teammates.mem4_phno" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" placeholder="Enter PhoneNumber of teammate "/>
        <p class="help-block" ng-show="formp2.mem4_phno.$error.required && formp2.mem4_phno.$touched">
        This field is required
        </p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem4_phno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem4_phno.$valid && (!formp2.mem4_phno.$pristine || formp2.mem4_phno.$touched)}">
        </div>
        <p class="help-block" ng-show="formp2.mem4_phno.$invalid && formp2.mem4_phno.$dirty">
        The Contact No. must be 10 digits long
        </p>
      </div>

      <br>
      
      <div class="form-group input-group " ng-class="{'has-error':!formp2.mem5_email.$valid && !formp2.mem5_name.$error.required && (!formp2.mem5_email.$pristine || formp2.mem5_email.$touched),'has-success':formp2.mem5_email.$valid && formp2.mem5_email.$dirty}" >
        <label class="control-label">Member 5</label>
        <input type="text" name="mem5_name" size="100%" ng-required="true" class="form-control" placeholder="Name " ng-model="submitCtrl.submit.teammates.mem5_name" />
      </div>
      
      <div class="form-group input-group has-feedback" ng-class="{'has-error': (!formp2.mem5_name.$error.required  && formp2.mem5_email.$untouched)  || (!formp2.mem5_email.$valid),'has-success':formp2.mem5_email.$valid && !formp2.mem5_email.$error.required && !formp2.mem5_name.$error.required}" >
        <input type="email" name="mem5_email" ng-required="true" size="100%" class="form-control" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" placeholder="Enter the Email-id" ng-model="submitCtrl.submit.teammates.mem5_email" />
        <p class="help-block" ng-show=" formp2.mem5_email.$error.required && !formp2.mem5_name.$error.required">
          The Email of the member is required
        </p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem5_email.$valid && formp2.mem5_email.$dirty, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem5_email.$valid && !formp2.mem5_name.$error.required && (!formp2.mem5_email.$pristine || formp2.mem5_email.$touche)}">
        </div>

        <p class="help-block" ng-show="formp2.mem5_email.$invalid && !formp2.mem5_email.$error.required">
            Please Enter a valid Email ID
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!formp2.mem5_phno.$valid && (formp2.mem5_phno.$dirty || formp2.mem5_phno.$touched),'has-success':formp2.mem5_phno.$valid}">
        <input type="text" name="mem5_phno" ng-model="submitCtrl.submit.teammates.mem5_phno" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" placeholder="Enter PhoneNumber of teammate "/>
        <p class="help-block" ng-show="formp2.mem5_phno.$error.required && formp2.mem5_phno.$touched">This field is required</p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem5_phno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem5_phno.$valid && (!formp2.mem5_phno.$pristine || formp2.mem5_phno.$touched)}">
        </div>
        <p class="help-block" ng-show="formp2.mem5_phno.$invalid && formp2.mem5_phno.$dirty">
        The Contact No. must be 10 digits long
        </p>
      </div>

      <br>
      <div class="form-group input-group " ng-class="{'has-error':!formp2.mem6_email.$valid && !formp2.mem6_name.$error.required && (!formp2.mem6_email.$pristine || formp2.mem6_email.$touched),'has-success':formp2.mem6_email.$valid && formp2.mem6_email.$dirty}" >
        <label class="control-label">Member 6</label>
        <input type="text" name="mem6_name" size="100%" ng-required="true" class="form-control" placeholder="Name " ng-model="submitCtrl.submit.teammates.mem6_name" />
      </div>
      
      <div class="form-group input-group has-feedback" ng-class="{'has-error': (!formp2.mem6_name.$error.required  && formp2.mem6_email.$untouched)  || (!formp2.mem6_email.$valid),'has-success':formp2.mem6_email.$valid && !formp2.mem6_email.$error.required && !formp2.mem6_name.$error.required}" >
        <input type="email" name="mem6_email" size="100%" ng-required="true" class="form-control" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" placeholder="Enter the Email-id" ng-model="submitCtrl.submit.teammates.mem6_email" />
        <p class="help-block" ng-show=" formp2.mem6_email.$error.required && !formp2.mem6_name.$error.required">
        Email of the member is required
        </p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem6_email.$valid && formp2.mem6_email.$dirty, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem6_email.$valid && !formp2.mem6_name.$error.required && (!formp2.mem6_email.$pristine || formp2.mem6_email.$touche)}">
        </div>
        <p class="help-block" ng-show="formp2.mem6_email.$invalid && !formp2.mem6_email.$error.required">
        Please Enter a valid Email ID
        </p>
      </div>

      <div class="input-group" ng-class="{'has-error':!formp2.mem6_phno.$valid && (formp2.mem6_phno.$dirty || formp2.mem6_phno.$touched),'has-success':formp2.mem6_phno.$valid}">
        <input type="text" name="mem6_phno" ng-model="submitCtrl.submit.teammates.mem6_phno" size="100%" ng-pattern="/^[0-9]{10}$/"  ng-required="true" class="form-control " id="coll_add1" placeholder="Enter PhoneNumber of teammate "/>
        <p class="help-block" ng-show="formp2.mem6_phno.$error.required && formp2.mem6_phno.$touched">
        This field is required
        </p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':formp2.mem6_phno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !formp2.mem6_phno.$valid && (!formp2.mem6_phno.$pristine || formp2.mem6_phno.$touched)}">
        </div>
        <p class="help-block" ng-show="formp2.mem6_phno.$invalid && formp2.mem6_phno.$dirty">
        The Contact No. must be 10 digits long
        </p>
      </div>

      <br>
	    
      <div ng-click="submitCtrl.saveform()" class="btn btn-primary" align="lefts">Save Progress</div>

      <div style="float: right;">
        <button ng-click="submitCtrl.next();" class="btn btn-default">Next Page</button>
      </div>
      
      <br>
    </form>
    <br><br>
  </div>

  <div class="container" ng-show="submitCtrl.showpage(3)" style="width: 100%; min-height: 100vh;">
    <h2 align="center" class="group"><br><br>  Registration Form - Project </h2>
    <form  class="form" name="formp3" novalidate>
	    
      <div class="input-group " ng-class="{'has-error':!formp3.projname.$valid && !formp3.projname.$untouched,'has-success':formp3.projname.$valid}">
	
	      <label  for="projname" class="control-label">Project Name</label>
	      <input type="text" name="projname" ng-model="submitCtrl.submit.projname" ng-required='true' class="form-control">
	      <p class="help-block" ng-show="formp3.projname.$error.required && formp3.projname.$touched">			This field is required</p>
     </div>

      <div  ng-class="{'has-success':!formp3.vertical.$error.required , 'has-error':formp3.vertical.$error.required }" >
        <label for="vertical" class="control-label">Vertical </label><br>
        <select name="vertical" style="color: black;" ng-options="option for option in submitCtrl.verticals" id="singleSelect"  ng-model="submitCtrl.submit.vertical" ng-value={{option}} ng-required="true" ng-change="submitCtrl.vertical=true;">
        </select>
        Others: 
        <input type="text" name="othervertical" style="color: black;" size="40%" ng-init="submitCtrl.othervertical" ng-model="submitCtrl.othervertical" ng-blur="submitCtrl.optionchoser()" placeholder="other vertical">

        <p class="help-block" ng-show="!submitCtrl.vertical">
		    This field is required
        </p>
      </div>
       
      <br>
	    
      <div class="input-group" ng-class="{'has-error':!formp3.projdetails.$valid && !formp3.projdetails.$untouched,'has-success':formp3.projdetails.$valid}" >
	      <label for="projdetails" class="control-label">Describe your project and its working in detail*</label>
	      <textarea name="projdetails" id="projdesp" ng-model="submitCtrl.submit.projdetails"  rows="5"   ng-required="true" class="form-control col-xs-12 col-lg-12 col-sm-12"/>
	      <p class="help-block" ng-show="formp3.projdetails.$error.required && formp3.projdetails.$touched">
		     This field is required
	      </p>
      </div>
       
      <br>
      
      <div style="float: left;">
        <button ng-click="submitCtrl.back();" class="btn btn-default">Previous Page</button>
      </div>
      
      <div style="float: right;">
        <button ng-click="submitCtrl.next();" class="btn btn-default">Next Page</button>
      </div>

      <br><br>
    </form>
    <br>
  </div>

  <div class="container" ng-show="submitCtrl.showpage(4)" style="width: 100%;">
    <h2 align="center" class="group"><br><br>  Registration Form - Project Details</h2>

    <form class="form" name="formp4" novalidate>
      <h3 style="margin-top: -30px;">Questions</h3>
	    
      <div class="form-group">
        <div class="input-group" ng-class="{'has-error':!formp4.WhyQues.$valid && !formp4.WhyQues.$untouched,'has-success':formp4.WhyQues.$valid}" >
			    <label for="WhyQues" class="control-label">Describe your project and its working in detail.*</label>
			    <textarea name="WhyQues" id="WhyQues" ng-model="submitCtrl.submit.questions.what"  rows="5"   ng-required="true" class="form-control col-xs-12 col-lg-12 col-sm-12"/>
			    <p class="help-block" ng-show="formp4.WhyQues.$error.required && formp4.WhyQues.$touched">
				   This field is required
			    </p>
		    </div>
		     
        <div class="input-group" ng-class="{'has-error':!formp4.RightQues.$valid && !formp4.RightQues.$untouched,'has-success':formp4.RightQues.$valid}" >
			    <label for="RightQues" class="control-label">Indicate ways in which your solution is better than the existing solution, highlighting the unique advantages of your solution over the others.*</label>
			    <textarea name="RightQues" id="RightQues" ng-model="submitCtrl.submit.questions.howbetter" rows="5"  ng-required="true" class="form-control col-xs-12 col-lg-12 col-sm-12" id="coll_add" />
			    <p class="help-block" ng-show="formp4.RightQues.$error.required && formp4.RightQues.$touched">
   				This field is required
	   			</p>
		    </div>
		
        <div class="input-group" ng-class="{'has-error':!formp4.PastQues.$valid && !formp4.PastQues.$untouched,'has-success':formp4.PastQues.$valid}" >
			    <label for="PastQues" class="control-label">Have you had any prior experience in the corporate world?*</label>
			    <textarea name="PastQues" id="PastQues" ng-model="submitCtrl.submit.questions.past" rows="5"   ng-required="true" class="form-control col-xs-12 col-lg-12 col-sm-12" />
			    <p class="help-block" ng-show="formp4.PastQues.$error.required && formp4.PastQues.$touched">
				  This field is required
			    </p>
		    </div>
	    </div>
	
      <div class="input-group " ng-class="{'has-error':!formp4.plinks.$valid && !formp4.plinks.$untouched,'has-success':formp4.plinks.$valid}">
	
	      <label  for="plinks" class="control-label">Please attach the link to the google drive containing the pictures/videos of your working model/project.*</label>
	      <input type="text" name="plinks" ng-model="submitCtrl.submit.projlink" ng-required='true' class="form-control" size="100%">
	      <p class="help-block" ng-show="formp4.plinks.$error.required && formp4.plinks.$touched">
		     This field is required
	      </p>
      </div>
  
      <br><br>
  
      <div style="float: left;">
        <button ng-click="submitCtrl.back();" class="btn btn-default">Previous Page</button>
      </div>
		  
      <div style="float: right;">
        <button ng-click="submitCtrl.submitform(submit);" ng-disabled=" formp4.$error.required || formp4.$error.pattern  || formp2.$error.pattern || formp3.$error.required || formp2.team_name.$error.required " class="btn btn-primary">Submit</button>
      </div>
      
      <br>
      
      <div class="row show-hide-message" ng-show="submitCtrl.success">
        <div class="alert alert-success"> {{submitCtrl.success}} </div>
      </div>

      <br><br>
    </form>
  </div>
</div>